body{
    overflow-x: hidden;
}

form {
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}
heading {
    text-align: center;
    font-family: Georgia;
    max-width: 1200px;  
    margin: 0 auto;  
    padding: 0 1rem; /* Add some padding to prevent overflow */  
}
#email, #number, #password, #country, #state, #channel, #b_day, #gender, #f_name, #l_name {
    width: 50%;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: solid;
    border-radius: 0.62rem;
    outline: offset 5px;
    border-color:white ;
    box-sizing: border-box;
    background-color:rgb(246, 245, 245);
    height: 7.5vh;
}

@media (max-width: 768px) {  
    .form-field {  
        width: 100%; /* Make form fields full width on smaller screens */  
    }  
}

#top {
    color:rgb(5, 5, 67)
}

#submit{
    border-radius: 0.35rem;
    width:44%;
    height: 3.1rem;
    background-color: rgb(97, 106, 207);
    color: white;
    outline: offset 5px;
    border-color:white
}

.footer {
    text-align: center;
    text-wrap: wrap;
}